#card-1{
    background: rgb(65,0,129);
    background: linear-gradient(90deg, rgba(65,0,129,1) 0%, rgba(179,0,72,1) 100%);
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
}

#card-2{
    background: rgb(78,0,129);
    background: linear-gradient(90deg, rgba(78,0,129,1) 12%, rgba(0,109,179,1) 100%);
    color: white;
    text-align: center;
    border: none;
    padding: 10px;

}

#card-3{
    /* background: rgb(0,143,228);
    background: linear-gradient(90deg, rgba(0,143,228,1) 12%, rgba(0,43,179,1) 100%); */
    background: rgb(83,54,129);
    background: linear-gradient(335deg, rgba(83,54,129,1) 14%, rgba(34,43,140,1) 100%);
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
}