#card-1{
    background: rgb(65,0,129);
    background: linear-gradient(90deg, rgba(65,0,129,1) 0%, rgba(179,0,72,1) 100%);
    color: white;
    text-align: center;
    border: none;
}

#card-2{
    background: rgb(78,0,129);
    background: linear-gradient(90deg, rgba(78,0,129,1) 12%, rgba(0,109,179,1) 100%);
    color: white;
    text-align: center;
    border: none;
}

#card-3{
    /* background: rgb(0,143,228);
    background: linear-gradient(90deg, rgba(0,143,228,1) 12%, rgba(0,43,179,1) 100%); */
    background: rgb(83,54,129);
    background: linear-gradient(335deg, rgba(83,54,129,1) 14%, rgba(34,43,140,1) 100%);
    color: white;
    text-align: center;
    border: none;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }