html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.extra-div h2,
.servicediv h2 {
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #775656;
}

i {
  color: #2fccd0;
}
/* body {
    background-color: #00abff;
  } */

/*********** Actual css start **************/

.header {
  width: 100%;
  /* margin-top: 3rem; */
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 168, 255, 0.3),
      rgba(0, 168, 255, 0.3)
    ),
    url("../images/laptop.jpg");
  background-size: 100% 100%;
  position: relative;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}

.header:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
/* 
  .nav-item a {
    color: #fff;
    font-weight: bold;
  } */
/* .dropdown-menu{
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .dropdown-item{
    
  } */
.dropdown-item,
.dropdown-menu {
  width: auto;
}
.dropdown-item:hover {
  background-color: #363636;
  color: white;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dropdown-menu {
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.2px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.navbar-nav a {
  margin-left: 12px;
}

.nav-same {
  padding: 10px;
  /* margin-left: 15px; */
}

.header-section {
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  position: relative;
}

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.login {
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 5px;
  padding: 9px 35px;
  margin-left: 12px;
  outline: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.login:hover {
  color: #50d1c0;
  border-radius: 50px;
  background: linear-gradient(145deg, #e3e3e3, #ffffff);
  box-shadow: 20px 20px 60px #d6d6d6, -20px -20px 60px #ffffff;
}

.aa {
  margin-right: 20px;
}

.header-buttons a {
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.header-buttons a:hover {
  color: #50d1c0;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: white;
}

.nav-link:hover {
  background-color: rgb(238, 238, 238);
  opacity: 0.5;
  border-radius: 12px;
  z-index: 2;
  color: rgb(65, 92, 92) !important;
  width: 90%;
}

/* exter-div css starts */

.header-extradiv {
  width: 100%;
  height: auto;
  margin: 100px 0;
  text-align: center;
}

.extra-div {
  background: #fff;
  border: medium none;
  padding: 50px !important;
  border-radius: 3px;
  transition: 0.3s;
}

.extra-div:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

/* serviceoffers css starts */

.serviceoffers {
  background: #f7f7f9;
  padding: 50px 0;
  margin-bottom: 50px;
}

.headings {
  margin-bottom: 50px;
}

.headings h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.names h1 {
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.service-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 0.6rem !important;
  width: 20rem;
  margin-bottom: 25px !important;
  background: #606060;
}

/* awards css starts */

.project-work {
  margin: 100px 0;
}

.project-work h1 {
  font-size: 2rem;
  text-align: center;
}

.call {
  background-image: linear-gradient(
      rgba(0, 168, 255, 0.3),
      rgba(0, 168, 255, 0.3)
    ),
    url("../images/call.jpg");
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

/* Pricing css starts */

/* 
  .pricing{
      width: 100%;
      height: 100vh;
      padding: 50px;
      position: relative;
  }
  
  
  
  
  .pricing:before{
      content: "";
      position: absolute
      top: 0%;
      bottom: 0%;
      left: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
  } */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.comeUp:hover {
  transform: translateY(-20px);
}
.money {
  font-size: 40px;
  line-height: 1;
  color: #606060;
}

/* .price-card-container {
    width: 90%;
    max-width: 400px;
  } */

.card {
  width: 90%;
  max-width: 400px;
  transition: 0.4s ease;
}

.card-header {
  font-size: 1.6rem;
  font-weight: bold;
  /* background: #fff !important; */
  /* padding: 25px 9 !important; */
  color: #606060;
}

.card-body {
  padding: 30px 0px !important;
}

.card-body li {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #606060;
}

.card-footer {
  background: white !important;
  padding: 30px 0px !important;
}

.cardss a {
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.card-footer a:hover {
  color: #fff;
  background: #50d1c0;
  text-decoration: none;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .header {
  color: #50d1c0;
}
.card:hover .money {
  color: #50d1c0;
}

.card-secondup {
  transform: translateY(-20px);
}

.header1 {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(
    rgba(0, 168, 255, 0.3),
    rgba(0, 168, 255, 0.3)
  );
  background-size: 100% 100%;
  position: relative;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}

.header1:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

/* team css starts */

/* .pricing {
  background: rgb(22, 43, 60);
  background: linear-gradient(
    0deg,
    rgba(22, 43, 60, 1) 2%,
    rgba(128, 179, 221, 1) 20%,
    rgba(173, 206, 255, 1) 22%,
    rgba(251, 251, 251, 1) 48%,
    rgba(255, 255, 255, 1) 100%,
    rgba(10, 110, 134, 1) 100%
  );
} */

.header2 {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
    rgba(0, 168, 255, 0.3),
    rgba(0, 168, 255, 0.3)
  );
  background-size: 100% 100%;
  position: relative;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 84%,
    68% 100%,
    30% 100%,
    0 84%,
    0 0
  );
}
.cass {
  border-radius: 120px;
}

.cass:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 0 rgba(224, 219, 219, 0.822);
  border-radius: 120px;
}

.header2:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.team_back {
  background-image: linear-gradient(
      rgba(39, 46, 49, 0.678),
      rgba(57, 60, 61, 0.699)
    ),
    url("../images/bk.jpg");
  position: relative;
  z-index: 1;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}

.ca {
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 2px 5px rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: bold;
}

/* .cal h3 {
  color: rgb(123, 135, 143);
  text-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.603);
} */

.cal {
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 2px 5px rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(
    rgba(39, 46, 49, 0.445),
    rgba(57, 60, 61, 0.473)
  );
}

.cal p {
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 2px 5px rgb(0, 0, 0);
}

/************************* NEWSLETTER START ********************************/

.newsletter {
  width: 100%;
  height: auto;
  margin: 80px auto;
}

.news-input {
  border-radius: 100px 0px 0px 100px !important;
  min-width: 150px;
  min-height: 45px;
}

.input-group-text {
  color: #fff;
  background: #5bc0de;
  border-radius: 0 100px 100px 0;
  min-width: 130px;
  min-height: 40px;
}

/************************* footer START ********************************/

.footersection {
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  /* background: #00abff; */
  background: rgb(60, 97, 126);
  background: linear-gradient(
    79deg,
    rgba(60, 97, 126, 1) 17%,
    rgba(12, 121, 147, 1) 100%
  );
  position: relative;
}

.footersection p {
  color: #fff;
}

.footersection li a {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.footersection h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 1.2rem !important;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  color: #fff;
  background: #00abff;
  padding: 10px;

  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#myBtn:hover {
  background: #606060;
}

/* Edited by prem */
#contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: center;
}

/**************************** media Queries ***************************/

@media (max-width: 768px) {
  .nav-item {
    text-align: center !important;
    background-color: #4784ad;
    color: white;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .nav-item {
      -webkit-backdrop-filter: blur(3.5px);
      backdrop-filter: blur(3.2px);
      background-color: rgba(66, 51, 51, 0.5);
    }
  }

  .footer-div:nth-child(2) {
    text-align: left !important;
  }

  .footer-div {
    margin: 30px 0;
  }
  /*  */
  /* added by prem */
  /* to email ta contact section */
  .e-mail {
    white-space: nowrap;
    font-size: 14px;
  }
  /* to cards  ta pircing plans section */
  /* .col-width {
      max-width: 300px;
    } */
  /* .row {
      max-width: 400px;
    } */
  .servicediv {
    width: 90%;
    /* max-width: 900px; */
  }
  .container {
    width: 90%;
  }
  .header-section {
    width: 95%;
  }
  .header-extradiv {
    width: 95%;
  }
  #contact {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-body {
    width: 100%;
    padding: 22em;
  }
}
