{% extends 'base.html' %}
{% load static %}
{% block style_tag %}
<link href='https://fonts.googleapis.com/css?family=Lora:400italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>

<style>
    .ml11 {
  font-weight: 700;
  font-size: 3.5em;

}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 90%;
  width: 3px;
  background-color: rgb(109, 10, 10);
  transform-origin: 0 50%;
  
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
  
}

.text-wrapper{
    margin-top: 0%;
    margin-bottom: 10%;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


body {
  color: #fffeec;
  font-family: Montserrat, sans-serif;
  text-align: center;
  background: #f1cf63;
  line-height: 3em;
  padding-top: 30em;
  padding-bottom: 18em;
  text-transform: uppercase;
}

.img_sive{
    margin-top: -100px;
}
</style>

{% endblock style_tag %}

{% block content %}



<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Email Has Been Sent!!!</span>
    </span>
</h1>
<div class="img_sive">
    <img src="{% static 'images/bicycle.png' %}" alt="" height="350px" width="600px">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<script>
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml11 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

    anime.timeline({
            loop: true
        })
        .add({
            targets: '.ml11 .line',
            scaleY: [0, 1],
            opacity: [0.5, 1],
            easing: "easeOutExpo",
            duration: 700
        })
        .add({
            targets: '.ml11 .line',
            translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
            easing: "easeOutExpo",
            duration: 700,
            delay: 100
        }).add({
            targets: '.ml11 .letter',
            opacity: [0, 1],
            easing: "easeOutExpo",
            duration: 600,
            offset: '-=775',
            delay: (el, i) => 34 * (i + 1)
        }).add({
            targets: '.ml11',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

{% endblock content %}