{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login_page....</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

    <link rel="stylesheet" href="{% static 'css/auth_css.css' %}">
    <script>
        window.console = window.console || function (t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
    <style>
    label{
        margin-left: 40px;
        margin-bottom: 100px;
    }
    input {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    margin-top: 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #ffffff;
    color: #748194;
    font-size: 14px;
    border-bottom: 2px solid black;
    }
    </style>
</head>

<body translate="no">
    <div class="container">

        {% if messages %}
            <div class="text-center" id="message-center-div">
                {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Aakaar Developers!</strong> {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="c1">
            <div class="c11">
                <h1 class="mainhead">PICK YOUR SPOT</h1>
                <p class="mainp">Just click the buttons below to toggle between SignIn & SignUp</p>
            </div>
            <div id="left">
                <h1 class="s1class"><span>SIGN</span><span class="su">IN</span>
                </h1>
            </div>
            <div id="right">
                <h1 class="s2class"><span>SIGN</span><span class="su">UP</span></h1>
            </div>
        </div>
        <div class="c2">
            <form class="signup" method="POST" novalidate>
                <h1 class="signup1">Password Reset</h1>
                <br><br><br><br>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn">Send Confirmation</button>
            </form>
        </div>
    </div>
    <script
        src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js">
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script id="rendered-js">
        $(document).ready(function () {
            $(".container").fadeIn(1000);
            $(".s2class").css({
                "color": "#EE9BA3"
            });
            $(".s1class").css({
                "color": "#748194"
            });
            $("#left").removeClass("left_hover");
            $("#right").addClass("right_hover");
            $(".signin").css({
                "display": "none"
            });
            $(".signup").css({
                "display": ""
            });
        });
        $("#right").click(function () {
            $("#left").removeClass("left_hover");
            $(".s2class").css({
                "color": "#EE9BA3"
            });
            $(".s1class").css({
                "color": "#748194"
            });
            $("#right").addClass("right_hover");
            $(".signin").css({
                "display": "none"
            });
            $(".signup").css({
                "display": ""
            });
        });
        $("#left").click(function () {
            $(".s1class").css({
                "color": "#EE9BA3"
            });
            $(".s2class").css({
                "color": "#748194"
            });
            $("#right").removeClass("right_hover");
            $("#left").addClass("left_hover");
            $(".signup").css({
                "display": "none"
            });
            $(".signin").css({
                "display": ""
            });
        });
        //# sourceURL=pen.js
    </script>
</body>

</html>